.custom-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.custom-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  /* Remove underline from the link */
}

.custom-button:hover {
  background-color: #333;
  /* Darken the background color on hover */
}

.man-ad-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.man-ad-right i {
  font-size: 1.2rem;
  color: red;
  font-weight: 500;
}

.man-ad-right i:last-child {
  color: blue;
}

.man-ad-top-right {
  position: absolute;
  top: 0px;
  right: 10px;
  margin-left: 100px;
}

.card-body {
  background-color: #fafdff;

}

.card-body1 {
  background-color: #fafdff;
  position: relative;
}

.cw-cash {
  display: flex;
  gap: 10px;
}

.cw-cash input {
  width: 14px;
}

.checkout-wallet {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.233);
  height: 60px;
  padding: 20px;
  background-color: var(--lightWhite);
  border-radius: 5px;
  cursor: pointer;
}

.checkout-wallet i {
  font-weight: 650;
  position: relative;
  top: 3px;
}

.order-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Adjust the gap as needed */
}

.order-details .card {
  /* Add styles to the card containing the order details */
  padding: 0px;

  background-color: var(--lightWhite);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
}

/* Adjust the position of the Order Details section */
.col-6.col-md-5 {
  /* Add styles to the column containing the Order Details */
  display: flex;
  margin-left: 85px;
  flex-direction: column;
  align-items: flex-start;
}

/* Adjust the position of the Order Details heading */
.order-details h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Adjust the position of the Order Details items */
.order-details h5:not(:first-child) {
  margin-left: 0px;
}