<%- include('./partials/header.ejs') %>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <form action="/forget" method="POST" class="formSize">
    <h1 class="text-center pb-3 fw-bold mb-5">FORGOT PASSWORD</h1>

    <div
      class="container alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Enter email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        required
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn loginButton">Submit</button>
    </div>
    <div class="mt-5 text-center">
      Don't have an account?
      <a href="/signup" class="link-underline-light">Sign Up</a> here.
    </div>
  </form>
</div>
