<form action="/resetPass?email=<%= message%>" method="post">
  <input type="password" name="password" />
  <br />
  <input type="password" name="conpassword" />
  <br />

  <input type="submit" class="btn btn-danger btn-md" />
</form>
