<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TimeMatter</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/easyzoom.css" type="text/css" />
    <link rel="stylesheet" href="/css/userProfile.css" type="text/css" />
    <link rel="stylesheet" href="/css/editProfile.css" type="text/css" />
    <link rel="stylesheet" href="/css/addAddress.css" type="text/css" />
    <link rel="stylesheet" href="/css/cart.css" type="text/css" />
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
    <link rel="stylesheet" href="/css/orderHistory.css" type="text/css" />
    <link rel="stylesheet" href="/css/checkout.css" type="text/css" />
    <link rel="stylesheet" href="/css/categories.css" type="text/css" />
    <!-- Include Owl Carousel CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">



    <link
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        max-width: 100%;
      }
      #snackbar,
      #snackbar-error {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 10px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
        border-radius: 15px;
      }

      #snackbar.show,
      #snackbar-error.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }

      @-webkit-keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }
        to {
          bottom: 30px;
          opacity: 1;
        }
      }

      @keyframes fadein {
        from {
          bottom: 0;
          opacity: 0;
        }
        to {
          bottom: 30px;
          opacity: 1;
        }
      }

      @-webkit-keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }
        to {
          bottom: 0;
          opacity: 0;
        }
      }

      @keyframes fadeout {
        from {
          bottom: 30px;
          opacity: 1;
        }
        to {
          bottom: 0;
          opacity: 0;
        }
      }

      .address .active {
        border-color: #28a745 !important;
        background-color: #f2f2f2;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
  
      .card {
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      .header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: #F3F6FA; /* Adjust as needed */
  z-index: 1000; /* Make sure the header is above other content */
  /* Add other styling properties like padding, box-shadow, etc. */
}
/* coupon details */

.wish-item {
    width: 100%;
    background-color: #dde7ed;
    padding: 10px;
    display: flex;
    margin-top: 20px;
}

.wish-item i {
    font-size: 1.3rem;
}

.wish-img img {
    height: 130px;
    
}

.wish-img {
    flex: 40%;
    
}

.wish-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 50%;
    padding: 5px;
}
.coupon-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coupon-item input {
    border: none;
    width: 100%;
    height: 50px;
    outline: none;
    background-color: var(--lightGrey);
    padding-left: 10px;
}

.coupon-item button,
.coupon-item .button {
    background-color: var(--black);
    color: black;
    border: none;
    outline: none;
    padding: 10px;
    font-size: .9rem;
    cursor: pointer;
}

.dashboard-item {
    display: flex;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
}

.dash-img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.dash-img.one {
    background-color: #65d04a57;
}

.dash-img.two {
    background-color: #f7e4654c;
}

.dash-img.three {
    background-color: #E4EEF9;
}

.dash-img.four {
    background-color: #ffc36950;
}

.dash-img img {
    object-fit: contain;
    max-height: 50px;
}

.dash-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dash-desc h5 {
    color: grey;
}

.chart-container {
    width: 100%;
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 50px;
}

#chart {
    width: 70%;
}

    </style>
    
    <style>
      #couponList {
          display: none;
      }
  
      #couponList.show {
          display: block;
      }
  </style>
  <style>
    /* Default styling for larger screens */
    .hero__item1 {
      height: 220px; /* Set the initial height for the banner */
    }
  
    /* Adjust banner height for smaller screens */
    @media (max-width: 768px) {
      .hero__item1 {
        height: 200px; /* Set a different height for smaller screens */
      }
    }

  </style>

<style>
  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }

  .container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  h1 {
    color: #333;
  }

  .alert {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }

  .form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  }

  .loginButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .loginButton:hover {
    background-color: #0056b3;
  }

  .link-underline-light {
    text-decoration: none;
    color: #007bff;
  }

  .link-underline-light:hover {
    text-decoration: underline;
  }
</style>
  </head>

  <body>